OCR_Flow.json
{"flowContents":{"identifier":"216bfa7a-2443-3a0c-828d-55f157d78098","instanceIdentifier":"6f9f09a3-0199-1000-49c5-8bc3ff1e4903","name":"OCR Flow","comments":"","position":{"x":-1224.0,"y":3424.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0c5c9e68-1b09-3086-a329-6a7653c6c6bb","instanceIdentifier":"6f8a3c64-0199-1000-765e-47396450b124","name":"MergeRecord","comments":"To merge all the individual records belonging to the same original CSV - so that it can come together in its corresponding output CSV","position":{"x":-552.0,"y":5200.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"max-bin-age":"30 min","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":"1 GB","record-writer":"ce488e06-a5a1-39dc-9266-b8924c1a6290","merge-strategy":"Defragment","record-reader":"b63e5073-0b19-3b94-8e27-39f91bf286f4","max-records":"1000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"ba04c11a-50e5-3c73-a2df-4271dec8b27e","instanceIdentifier":"944c6df2-0199-1000-8a04-a85e7c54abea","name":"UpdateAttribute","comments":"To set attributes for base_filename, image_folder, output_folder\n\nbase_filename: for record tracking purposes, so that MergeRecord can merge records from the same CSV file.\nimage_folder: to specify which directory the decoded images will be saved to.\noutput_folder: to specify which directory the output CSVs will be saved to.","position":{"x":-552.0,"y":3512.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"base_filename":"${filename:substringBeforeLast('.csv')}","Delete Attributes Expression":null,"output_folder":"C:\\nifi_ocr\\output\\${filename:substringBeforeLast('.csv')}\\","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"image_folder":"C:\\nifi_ocr\\decoded_images\\${filename:substringBeforeLast('.csv')}\\"},"propertyDescriptors":{"base_filename":{"name":"base_filename","displayName":"base_filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output_folder":{"name":"output_folder","displayName":"output_folder","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"image_folder":{"name":"image_folder","displayName":"image_folder","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"23aa2ad2-1803-3422-955b-5d46a8de30cf","instanceIdentifier":"947c7599-0199-1000-268a-4cfd70ec0361","name":"LogAttribute","comments":"","position":{"x":720.0,"y":5200.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"90080bb0-aba6-396d-bc23-0b86a864248c","instanceIdentifier":"71312bf4-0199-1000-d166-5bb563608b82","name":"LogAttribute","comments":"","position":{"x":-1208.0,"y":4744.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"c8653a57-0a28-3ec1-97ba-05fffa31ee59","instanceIdentifier":"9423f588-0199-1000-5987-8c4fa4307459","name":"EncodeContent","comments":"To decode base64 data into PNG image","position":{"x":80.0,"y":4520.0},"type":"org.apache.nifi.processors.standard.EncodeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Encoded Line Length":"76","Mode":"Decode","Encoding":"base64","Line Output Mode":"SINGLE_LINE"},"propertyDescriptors":{"Encoded Line Length":{"name":"Encoded Line Length","displayName":"Encoded Line Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encoding":{"name":"Encoding","displayName":"Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Output Mode":{"name":"Line Output Mode","displayName":"Line Output Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"5dd599a5-b467-38d5-b4a6-6833f46b16b8","instanceIdentifier":"712f231e-0199-1000-9464-789051f375d5","name":"UpdateAttribute","comments":"To standardise and label the data that is extracted from OCR","position":{"x":-552.0,"y":4744.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","ocr_confidence":"${ocr_result:jsonPath('$.confidence')}","ocr_number":"${ocr_result:jsonPath('$.number')}","ocr_method":"${ocr_result:jsonPath('$.method')}","ocr_category":"${ocr_result:jsonPath('$.category')}","Stateful Variables Initial Value":null,"ocr_vehicle_type":"${ocr_result:jsonPath('$.vehicle_type')}","ocr_state":"${ocr_result:jsonPath('$.state')}","ocr_plate_color":"${ocr_result:jsonPath('$.plate_color')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ocr_confidence":{"name":"ocr_confidence","displayName":"ocr_confidence","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ocr_number":{"name":"ocr_number","displayName":"ocr_number","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ocr_method":{"name":"ocr_method","displayName":"ocr_method","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ocr_category":{"name":"ocr_category","displayName":"ocr_category","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ocr_vehicle_type":{"name":"ocr_vehicle_type","displayName":"ocr_vehicle_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ocr_state":{"name":"ocr_state","displayName":"ocr_state","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ocr_plate_color":{"name":"ocr_plate_color","displayName":"ocr_plate_color","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"97b4224f-3f52-3465-bfac-af01d40004a6","instanceIdentifier":"6f940e36-0199-1000-8cf3-c8dfba46b582","name":"LogAttribute","comments":"","position":{"x":-1208.0,"y":4312.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"06f237a0-5cea-3e5d-8418-e2ff9e7e7e76","instanceIdentifier":"6fd5bc9f-0199-1000-59a7-60653d26f638","name":"SplitText","comments":"To split the CSV into individual records for processing.","position":{"x":-552.0,"y":3760.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"1","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"eb29bfd9-0f30-3b3b-ad5a-b4fa72bab30f","instanceIdentifier":"60b21794-0199-1000-8679-a969ad49596b","name":"GetFile","comments":"To get file from specified directory","position":{"x":-552.0,"y":3296.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"60 sec","Input Directory":"C:\\nifi_ocr\\reference","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"vehicles_.*\\.csv$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"947cc648-0199-1000-15cf-38c3909dc15c","instanceIdentifier":"a5fb2a57-5aab-3f38-7380-66e13cfef9e5","name":"LogAttribute","comments":"","position":{"x":-1216.0,"y":6128.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"6f94b897-0199-1000-07e6-8c1a63d98e5a","instanceIdentifier":"c473b922-c853-3c31-704c-6880c57c613d","name":"LogAttribute","comments":"","position":{"x":-1208.0,"y":5664.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"942927c5-0199-1000-53e8-0169b8188762","instanceIdentifier":"bacf2f94-9605-37b8-722d-81e41aa867f7","name":"LogAttribute","comments":"","position":{"x":720.0,"y":4968.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"5ab07578-339d-3904-9522-11e86f37fc23","instanceIdentifier":"6f8bff7e-0199-1000-e464-8315c3f2ff64","name":"UpdateAttribute","comments":"To set new filename which will be used as the output CSV's filename","position":{"x":-552.0,"y":5656.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"filename":"${base_filename}_output.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"a69ec7f6-3b96-3251-a297-0fa0deac169e","instanceIdentifier":"942df9c8-0199-1000-c0dd-4b220790d12d","name":"PutHDFS","comments":"To save decoded images to specified directory","position":{"x":80.0,"y":5200.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.5.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":null,"Remote Owner":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Ignore Locality":"false","Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Directory":null,"Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"73e02d49-53c9-3bb9-9cb8-39c495054604","instanceIdentifier":"749e5bdf-0199-1000-a687-a9e80db7e332","name":"LogAttribute","comments":"","position":{"x":-1208.0,"y":5424.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"97b95891-781a-3b34-ad7e-4bff31cf5e74","instanceIdentifier":"942dc809-0199-1000-8e7c-ec36cb99c41f","name":"PutHDFS","comments":"To save output CSV files to the specified directory","position":{"x":-552.0,"y":6128.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.5.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":null,"Remote Owner":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Ignore Locality":"false","Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Directory":null,"Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"ff7801bd-7584-3ccb-a12a-d90eca8ab523","instanceIdentifier":"749da87c-0199-1000-e1f6-84d4321685b7","name":"ConvertRecord","comments":"To convert record from JSON type to CSV record type so that it can be saved in CSV format","position":{"x":-552.0,"y":5424.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"26640bed-548f-3642-a4fe-1436762015e6","Record Reader":"b63e5073-0b19-3b94-8e27-39f91bf286f4"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"b8a4c2fd-908f-3762-8432-fb11ba4f0899","instanceIdentifier":"6f946cbd-0199-1000-4c09-b0c3fa5969e7","name":"LogAttribute","comments":"","position":{"x":-1208.0,"y":4528.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"e4e8b4f2-707e-316e-a043-3005a449d967","instanceIdentifier":"9427f872-0199-1000-d150-eb62fbb10910","name":"PutFile","comments":"To save the images to specified directory","position":{"x":80.0,"y":4968.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"${image_folder}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"3bef67e1-120c-3f34-80a8-7d4770df3a5f","instanceIdentifier":"942e6f0e-0199-1000-a961-5f4d08afe3d7","name":"FetchHDFS","comments":"To fetch the listed files from the specified directory","position":{"x":-24.0,"y":3288.0},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.5.0"},"properties":{"HDFS Filename":"${path}/${filename}","Hadoop Configuration Resources":null,"Additional Classpath Resources":null,"Compression codec":"NONE","kerberos-user-service":null},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"97df5c1f-4792-386f-8dd5-802b466ec1db","instanceIdentifier":"9429209c-0199-1000-3622-995a89d3db80","name":"LogAttribute","comments":"","position":{"x":720.0,"y":4520.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"f209ab05-cbe9-34bc-b436-f035aa604cc4","instanceIdentifier":"6fd657cd-0199-1000-6d5a-f9005be197a8","name":"LogAttribute","comments":"","position":{"x":-1208.0,"y":3624.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"3709bdb6-ed5f-301c-8b1b-2fd251822c45","instanceIdentifier":"6f921d5b-0199-1000-5009-25fdc101bdcb","name":"LogAttribute","comments":"","position":{"x":-1208.0,"y":4064.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"e22d6078-55b7-3d0d-b647-cf63c7e1ec71","instanceIdentifier":"94232411-0199-1000-97f8-f030475a307d","name":"ReplaceText","comments":"To extract the base64 data","position":{"x":80.0,"y":4312.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Regular Expression":".*","Replacement Value":"${base64_data}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"10 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"94294189-0199-1000-0722-0a3f53e7a6ff","instanceIdentifier":"39373955-59a2-301c-f48e-444fb8495668","name":"LogAttribute","comments":"","position":{"x":720.0,"y":4312.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"e360cee9-2278-330c-b9b3-ed4368de870e","instanceIdentifier":"94245f68-0199-1000-4edb-88d51953ef2e","name":"UpdateAttribute","comments":"To update the individual file name and file type so it can be saved correctly","position":{"x":80.0,"y":4744.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"filename":"${vehicle_id}_${camera_name}_${timestamp}.png","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"4f82ab0b-9303-37da-a25d-a2069f0a70ac","instanceIdentifier":"610f78d0-0199-1000-8e3d-505a161282fa","name":"UpdateRecord","comments":"To set attributes by renaming as the original column headers so that it can be saved as such in the CSV","position":{"x":-552.0,"y":4976.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"/plateType":"${ocr_vehicle_type}","/plateRead":"${ocr_number}","/plateColor":"${ocr_plate_color}","Record Writer":"ce488e06-a5a1-39dc-9266-b8924c1a6290","Record Reader":"b63e5073-0b19-3b94-8e27-39f91bf286f4","/plateRegion":"${ocr_state}","/plateCategory":"${ocr_category}","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/plateType":{"name":"/plateType","displayName":"/plateType","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/plateRead":{"name":"/plateRead","displayName":"/plateRead","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/plateColor":{"name":"/plateColor","displayName":"/plateColor","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/plateRegion":{"name":"/plateRegion","displayName":"/plateRegion","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/plateCategory":{"name":"/plateCategory","displayName":"/plateCategory","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"6f94c59f-0199-1000-be61-6d7e5a761307","instanceIdentifier":"85f5b280-5be7-38d9-ac28-fa92152d2817","name":"LogAttribute","comments":"","position":{"x":-1208.0,"y":5880.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"65fb1434-e864-3983-868f-772ad4565bfc","instanceIdentifier":"60dfa563-0199-1000-9af7-441b44d08960","name":"EvaluateJsonPath","comments":"To store each field value from the CSV as attribute of the FlowFile","position":{"x":-552.0,"y":4304.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"50 MB","original_plate_color":"$.plateColor","Return Type":"auto-detect","datastamp":"$.Datastamp","Null Value Representation":"empty string","Path Not Found Behavior":"warn","original_plate_read":"$.plateRead","base64_data":"$.plate_cropped_image","original_plate_type":"$.plateType","original_plate_region":"$.plateRegion","original_plate_category":"$.plateCategory","camera_name":"$.cameraName","vehicle_id":"$.VehicleANPRDataPacketID","timestamp":"$.timestamp"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"original_plate_color":{"name":"original_plate_color","displayName":"original_plate_color","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"datastamp":{"name":"datastamp","displayName":"datastamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"original_plate_read":{"name":"original_plate_read","displayName":"original_plate_read","identifiesControllerService":false,"sensitive":false,"dynamic":true},"base64_data":{"name":"base64_data","displayName":"base64_data","identifiesControllerService":false,"sensitive":false,"dynamic":true},"original_plate_type":{"name":"original_plate_type","displayName":"original_plate_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"original_plate_region":{"name":"original_plate_region","displayName":"original_plate_region","identifiesControllerService":false,"sensitive":false,"dynamic":true},"original_plate_category":{"name":"original_plate_category","displayName":"original_plate_category","identifiesControllerService":false,"sensitive":false,"dynamic":true},"camera_name":{"name":"camera_name","displayName":"camera_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"vehicle_id":{"name":"vehicle_id","displayName":"vehicle_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"1cff1f50-0437-3e20-bde1-d893f94e9ef1","instanceIdentifier":"60dd1a6e-0199-1000-d759-3a0fb599a5f5","name":"ConvertRecord","comments":"To convert CSV record to JSON type","position":{"x":-552.0,"y":4040.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Include Zero Record FlowFiles":"false","Record Writer":"ce488e06-a5a1-39dc-9266-b8924c1a6290","Record Reader":"6b5114b5-bc61-3a7f-ac78-467126deb717"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"b7100aac-6096-3f68-b9d6-f6fce5ae6f13","instanceIdentifier":"6fd6ed35-0199-1000-436b-693e44d7167c","name":"LogAttribute","comments":"","position":{"x":-1208.0,"y":3864.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"c305bc7c-0816-3645-bf48-e07d6d493a01","instanceIdentifier":"61058cd1-0199-1000-537d-66d7bd5fa64d","name":"ExecuteStreamCommand","comments":"To run the client script for OCR","position":{"x":-552.0,"y":4520.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"10485760","Output MIME Type":"application/json","Working Directory":"C:\\nifi_ocr\\scripts","Command Path":"C:\\nifi_ocr\\ocr_venv\\Scripts\\python.exe","Output Destination Attribute":"ocr_result","Argument Delimiter":" ","Ignore STDIN":"false","Command Arguments":"C:\\nifi_ocr\\scripts\\paddle_qwen_hybrid_ocr.py --stdin"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"a7b33b8e-349d-30e6-a07f-5ab012145aa8","instanceIdentifier":"9438d695-0199-1000-1483-7b06759cdf50","name":"LogAttribute","comments":"","position":{"x":600.0,"y":3056.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"6f949c3d-0199-1000-7352-010865b9344b","instanceIdentifier":"f7293650-145e-3713-7fa2-5d461d11c600","name":"LogAttribute","comments":"","position":{"x":-1208.0,"y":4976.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"d48af668-81dc-3b23-9ded-df6972994b7c","instanceIdentifier":"942e53a2-0199-1000-ed38-a7f7a5c8a10f","name":"ListHDFS","comments":"To connect to HDFS and list the files in the specified directory","position":{"x":-24.0,"y":3056.0},"type":"org.apache.nifi.processors.hadoop.ListHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.5.0"},"properties":{"Hadoop Configuration Resources":null,"maximum-file-age":null,"record-writer":null,"Additional Classpath Resources":null,"kerberos-user-service":null,"Recurse Subdirectories":"true","file-filter-mode":"filter-mode-directories-and-files","minimum-file-age":null,"File Filter":"[^\\.].*","Directory":null},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"maximum-file-age":{"name":"maximum-file-age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file-filter-mode":{"name":"file-filter-mode","displayName":"File Filter Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"minimum-file-age":{"name":"minimum-file-age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"c6916858-b2be-3470-b6d7-7876604336a8","instanceIdentifier":"6f8d2216-0199-1000-877f-a76329bdbb1f","name":"PutFile","comments":"To save the output CSV into the specified directory","position":{"x":-552.0,"y":5880.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"${output_folder}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"9438dc31-0199-1000-41e3-279431ede711","instanceIdentifier":"cadef1c0-285e-3ea0-c511-01cf5bef8986","name":"LogAttribute","comments":"","position":{"x":600.0,"y":3296.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"6f949a72-0199-1000-0045-a00c02afc327","instanceIdentifier":"957d70ae-24bd-3241-2fff-52df0a8ec31f","name":"LogAttribute","comments":"","position":{"x":-1208.0,"y":5208.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"225716dd-3751-395a-911f-f6cc2e985084","instanceIdentifier":"749e2f14-0199-1000-65d2-b0ce75c52ee1","name":"","source":{"id":"0c5c9e68-1b09-3086-a329-6a7653c6c6bb","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"MergeRecord","comments":"To merge all the individual records belonging to the same original CSV - so that it can come together in its corresponding output CSV","instanceIdentifier":"6f8a3c64-0199-1000-765e-47396450b124"},"destination":{"id":"ff7801bd-7584-3ccb-a12a-d90eca8ab523","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ConvertRecord","comments":"To convert record from JSON type to CSV record type so that it can be saved in CSV format","instanceIdentifier":"749da87c-0199-1000-e1f6-84d4321685b7"},"labelIndex":0,"zIndex":66,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"25c92dc0-ddaa-3f61-811a-708e8695aa20","instanceIdentifier":"94296c9b-0199-1000-cc0b-05387269ec60","name":"","source":{"id":"e22d6078-55b7-3d0d-b647-cf63c7e1ec71","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ReplaceText","comments":"To extract the base64 data","instanceIdentifier":"94232411-0199-1000-97f8-f030475a307d"},"destination":{"id":"94294189-0199-1000-0722-0a3f53e7a6ff","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"39373955-59a2-301c-f48e-444fb8495668"},"labelIndex":0,"zIndex":73,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"e63910ef-937d-3945-9161-2750de13f6a8","instanceIdentifier":"6fd70ac9-0199-1000-de65-413a86b68adf","name":"","source":{"id":"06f237a0-5cea-3e5d-8418-e2ff9e7e7e76","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"SplitText","comments":"To split the CSV into individual records for processing.","instanceIdentifier":"6fd5bc9f-0199-1000-59a7-60653d26f638"},"destination":{"id":"b7100aac-6096-3f68-b9d6-f6fce5ae6f13","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"6fd6ed35-0199-1000-436b-693e44d7167c"},"labelIndex":0,"zIndex":62,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"38c932f6-1723-349a-8739-9afe5a50d876","instanceIdentifier":"712f5601-0199-1000-02f1-9001af95147a","name":"","source":{"id":"c305bc7c-0816-3645-bf48-e07d6d493a01","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ExecuteStreamCommand","comments":"To run the client script for OCR","instanceIdentifier":"61058cd1-0199-1000-537d-66d7bd5fa64d"},"destination":{"id":"5dd599a5-b467-38d5-b4a6-6833f46b16b8","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateAttribute","comments":"To standardise and label the data that is extracted from OCR","instanceIdentifier":"712f231e-0199-1000-9464-789051f375d5"},"labelIndex":0,"zIndex":63,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"90e34398-db6e-3ea1-9ef2-893be37ece5c","instanceIdentifier":"6f952e33-0199-1000-c286-566372c3f568","name":"","source":{"id":"4f82ab0b-9303-37da-a25d-a2069f0a70ac","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateRecord","comments":"To set attributes by renaming as the original column headers so that it can be saved as such in the CSV","instanceIdentifier":"610f78d0-0199-1000-8e3d-505a161282fa"},"destination":{"id":"6f949c3d-0199-1000-7352-010865b9344b","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"f7293650-145e-3713-7fa2-5d461d11c600"},"labelIndex":0,"zIndex":53,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"52559a79-6214-318e-ad43-72ba13a14959","instanceIdentifier":"60e125fc-0199-1000-ceba-18aee7167765","name":"","source":{"id":"1cff1f50-0437-3e20-bde1-d893f94e9ef1","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ConvertRecord","comments":"To convert CSV record to JSON type","instanceIdentifier":"60dd1a6e-0199-1000-d759-3a0fb599a5f5"},"destination":{"id":"65fb1434-e864-3983-868f-772ad4565bfc","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"EvaluateJsonPath","comments":"To store each field value from the CSV as attribute of the FlowFile","instanceIdentifier":"60dfa563-0199-1000-9af7-441b44d08960"},"labelIndex":0,"zIndex":40,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"9e29dd40-3a17-308c-b4a1-e70c3167bcc3","instanceIdentifier":"94299a38-0199-1000-6978-7264f2976e0f","name":"","source":{"id":"e4e8b4f2-707e-316e-a043-3005a449d967","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"PutFile","comments":"To save the images to specified directory","instanceIdentifier":"9427f872-0199-1000-d150-eb62fbb10910"},"destination":{"id":"942927c5-0199-1000-53e8-0169b8188762","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"bacf2f94-9605-37b8-722d-81e41aa867f7"},"labelIndex":0,"zIndex":75,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"1d66697b-fcc5-35ed-81c7-bc4fc77a1cf2","instanceIdentifier":"749e7c21-0199-1000-ab83-79225b6115f0","name":"","source":{"id":"ff7801bd-7584-3ccb-a12a-d90eca8ab523","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ConvertRecord","comments":"To convert record from JSON type to CSV record type so that it can be saved in CSV format","instanceIdentifier":"749da87c-0199-1000-e1f6-84d4321685b7"},"destination":{"id":"73e02d49-53c9-3bb9-9cb8-39c495054604","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"749e5bdf-0199-1000-a687-a9e80db7e332"},"labelIndex":0,"zIndex":68,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"4e710500-ca9f-344d-8da0-12d80ba57f4c","instanceIdentifier":"947c9044-0199-1000-44a4-1bd41ea07a2d","name":"","source":{"id":"a69ec7f6-3b96-3251-a297-0fa0deac169e","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"PutHDFS","comments":"To save decoded images to specified directory","instanceIdentifier":"942df9c8-0199-1000-c0dd-4b220790d12d"},"destination":{"id":"23aa2ad2-1803-3422-955b-5d46a8de30cf","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"947c7599-0199-1000-268a-4cfd70ec0361"},"labelIndex":0,"zIndex":83,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"f30be51c-eed0-315e-915c-330cfb2521d1","instanceIdentifier":"6fd69aa0-0199-1000-fba4-e2663e43647f","name":"","source":{"id":"06f237a0-5cea-3e5d-8418-e2ff9e7e7e76","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"SplitText","comments":"To split the CSV into individual records for processing.","instanceIdentifier":"6fd5bc9f-0199-1000-59a7-60653d26f638"},"destination":{"id":"1cff1f50-0437-3e20-bde1-d893f94e9ef1","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ConvertRecord","comments":"To convert CSV record to JSON type","instanceIdentifier":"60dd1a6e-0199-1000-d759-3a0fb599a5f5"},"labelIndex":0,"zIndex":60,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"5d56031f-9344-31bd-bc49-13f4c5c8ad04","instanceIdentifier":"6f943600-0199-1000-8d7b-52e3e33d4c35","name":"","source":{"id":"65fb1434-e864-3983-868f-772ad4565bfc","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"EvaluateJsonPath","comments":"To store each field value from the CSV as attribute of the FlowFile","instanceIdentifier":"60dfa563-0199-1000-9af7-441b44d08960"},"destination":{"id":"97b4224f-3f52-3465-bfac-af01d40004a6","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"6f940e36-0199-1000-8cf3-c8dfba46b582"},"labelIndex":0,"zIndex":50,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"2123a581-5fb5-300d-a547-620f5ec84fe5","instanceIdentifier":"943942ff-0199-1000-0fbb-50ec1145ba5c","name":"","source":{"id":"d48af668-81dc-3b23-9ded-df6972994b7c","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ListHDFS","comments":"To connect to HDFS and list the files in the specified directory","instanceIdentifier":"942e53a2-0199-1000-ed38-a7f7a5c8a10f"},"destination":{"id":"a7b33b8e-349d-30e6-a07f-5ab012145aa8","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"9438d695-0199-1000-1483-7b06759cdf50"},"labelIndex":0,"zIndex":78,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"be931b05-58a2-3d3f-ba22-bd05eaa30ba7","instanceIdentifier":"943982bc-0199-1000-a498-e94656812ffc","name":"","source":{"id":"3bef67e1-120c-3f34-80a8-7d4770df3a5f","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"FetchHDFS","comments":"To fetch the listed files from the specified directory","instanceIdentifier":"942e6f0e-0199-1000-a961-5f4d08afe3d7"},"destination":{"id":"9438dc31-0199-1000-41e3-279431ede711","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"cadef1c0-285e-3ea0-c511-01cf5bef8986"},"labelIndex":0,"zIndex":79,"selectedRelationships":["comms.failure","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"c577cba0-78e8-374b-ae1c-24908a93623c","instanceIdentifier":"942980ad-0199-1000-d06e-dcfa4b8b9173","name":"","source":{"id":"c8653a57-0a28-3ec1-97ba-05fffa31ee59","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"EncodeContent","comments":"To decode base64 data into PNG image","instanceIdentifier":"9423f588-0199-1000-5987-8c4fa4307459"},"destination":{"id":"97df5c1f-4792-386f-8dd5-802b466ec1db","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"9429209c-0199-1000-3622-995a89d3db80"},"labelIndex":0,"zIndex":74,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"af62b259-954c-38bd-a3cd-63b495475f2b","instanceIdentifier":"94278b09-0199-1000-7427-9fc8ae4dd227","name":"","source":{"id":"c8653a57-0a28-3ec1-97ba-05fffa31ee59","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"EncodeContent","comments":"To decode base64 data into PNG image","instanceIdentifier":"9423f588-0199-1000-5987-8c4fa4307459"},"destination":{"id":"e360cee9-2278-330c-b9b3-ed4368de870e","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateAttribute","comments":"To update the individual file name and file type so it can be saved correctly","instanceIdentifier":"94245f68-0199-1000-4edb-88d51953ef2e"},"labelIndex":0,"zIndex":71,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"4e7b26c6-d32e-37a2-83f1-56c437bf6577","instanceIdentifier":"942674c4-0199-1000-431f-2ec9641a9e25","name":"","source":{"id":"65fb1434-e864-3983-868f-772ad4565bfc","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"EvaluateJsonPath","comments":"To store each field value from the CSV as attribute of the FlowFile","instanceIdentifier":"60dfa563-0199-1000-9af7-441b44d08960"},"destination":{"id":"e22d6078-55b7-3d0d-b647-cf63c7e1ec71","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ReplaceText","comments":"To extract the base64 data","instanceIdentifier":"94232411-0199-1000-97f8-f030475a307d"},"labelIndex":0,"zIndex":70,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"1212efd0-b088-3504-b700-9c23e40c3d03","instanceIdentifier":"944d8db6-0199-1000-9b00-2f3cf479e44a","name":"","source":{"id":"ba04c11a-50e5-3c73-a2df-4271dec8b27e","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateAttribute","comments":"To set attributes for base_filename, image_folder, output_folder\n\nbase_filename: for record tracking purposes, so that MergeRecord can merge records from the same CSV file.\nimage_folder: to specify which directory the decoded images will be saved to.\noutput_folder: to specify which directory the output CSVs will be saved to.","instanceIdentifier":"944c6df2-0199-1000-8a04-a85e7c54abea"},"destination":{"id":"06f237a0-5cea-3e5d-8418-e2ff9e7e7e76","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"SplitText","comments":"To split the CSV into individual records for processing.","instanceIdentifier":"6fd5bc9f-0199-1000-59a7-60653d26f638"},"labelIndex":0,"zIndex":82,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"abe3d789-64b4-3c8c-ab1c-698931abbf5d","instanceIdentifier":"94389164-0199-1000-334a-d24e8045570b","name":"","source":{"id":"d48af668-81dc-3b23-9ded-df6972994b7c","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ListHDFS","comments":"To connect to HDFS and list the files in the specified directory","instanceIdentifier":"942e53a2-0199-1000-ed38-a7f7a5c8a10f"},"destination":{"id":"3bef67e1-120c-3f34-80a8-7d4770df3a5f","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"FetchHDFS","comments":"To fetch the listed files from the specified directory","instanceIdentifier":"942e6f0e-0199-1000-a961-5f4d08afe3d7"},"labelIndex":0,"zIndex":76,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"1c085551-f660-3d48-bfaa-fe3c4b98b105","instanceIdentifier":"944d37b2-0199-1000-a701-77e64468de54","name":"","source":{"id":"eb29bfd9-0f30-3b3b-ad5a-b4fa72bab30f","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"GetFile","comments":"To get file from specified directory","instanceIdentifier":"60b21794-0199-1000-8679-a969ad49596b"},"destination":{"id":"ba04c11a-50e5-3c73-a2df-4271dec8b27e","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateAttribute","comments":"To set attributes for base_filename, image_folder, output_folder\n\nbase_filename: for record tracking purposes, so that MergeRecord can merge records from the same CSV file.\nimage_folder: to specify which directory the decoded images will be saved to.\noutput_folder: to specify which directory the output CSVs will be saved to.","instanceIdentifier":"944c6df2-0199-1000-8a04-a85e7c54abea"},"labelIndex":0,"zIndex":81,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"3667fb0f-c3bf-3861-98cf-5e569b0e4735","instanceIdentifier":"6f956cab-0199-1000-e480-1fedaec73d09","name":"","source":{"id":"0c5c9e68-1b09-3086-a329-6a7653c6c6bb","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"MergeRecord","comments":"To merge all the individual records belonging to the same original CSV - so that it can come together in its corresponding output CSV","instanceIdentifier":"6f8a3c64-0199-1000-765e-47396450b124"},"destination":{"id":"6f949a72-0199-1000-0045-a00c02afc327","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"957d70ae-24bd-3241-2fff-52df0a8ec31f"},"labelIndex":0,"zIndex":54,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"804a7f13-5747-3284-be17-6a6bccbe1372","instanceIdentifier":"947ce587-0199-1000-ad15-8c092085d50c","name":"","source":{"id":"97b95891-781a-3b34-ad7e-4bff31cf5e74","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"PutHDFS","comments":"To save output CSV files to the specified directory","instanceIdentifier":"942dc809-0199-1000-8e7c-ec36cb99c41f"},"destination":{"id":"947cc648-0199-1000-15cf-38c3909dc15c","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"a5fb2a57-5aab-3f38-7380-66e13cfef9e5"},"labelIndex":0,"zIndex":84,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"bc42dd26-4edc-3381-aa6a-672920e68557","instanceIdentifier":"610b9ff0-0199-1000-f0b2-bb62fab09ed7","name":"","source":{"id":"65fb1434-e864-3983-868f-772ad4565bfc","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"EvaluateJsonPath","comments":"To store each field value from the CSV as attribute of the FlowFile","instanceIdentifier":"60dfa563-0199-1000-9af7-441b44d08960"},"destination":{"id":"c305bc7c-0816-3645-bf48-e07d6d493a01","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ExecuteStreamCommand","comments":"To run the client script for OCR","instanceIdentifier":"61058cd1-0199-1000-537d-66d7bd5fa64d"},"labelIndex":0,"zIndex":41,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"3bc4a88d-9b63-3fb8-a1b6-d4534722ed82","instanceIdentifier":"6f8b3900-0199-1000-4a4c-3253db2a266f","name":"","source":{"id":"4f82ab0b-9303-37da-a25d-a2069f0a70ac","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateRecord","comments":"To set attributes by renaming as the original column headers so that it can be saved as such in the CSV","instanceIdentifier":"610f78d0-0199-1000-8e3d-505a161282fa"},"destination":{"id":"0c5c9e68-1b09-3086-a329-6a7653c6c6bb","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"MergeRecord","comments":"To merge all the individual records belonging to the same original CSV - so that it can come together in its corresponding output CSV","instanceIdentifier":"6f8a3c64-0199-1000-765e-47396450b124"},"labelIndex":0,"zIndex":44,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"bd978fc2-402d-3a97-94f1-0236fd54fa28","instanceIdentifier":"6f94f253-0199-1000-e90b-c8dafd95c217","name":"","source":{"id":"c305bc7c-0816-3645-bf48-e07d6d493a01","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ExecuteStreamCommand","comments":"To run the client script for OCR","instanceIdentifier":"61058cd1-0199-1000-537d-66d7bd5fa64d"},"destination":{"id":"b8a4c2fd-908f-3762-8432-fb11ba4f0899","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"6f946cbd-0199-1000-4c09-b0c3fa5969e7"},"labelIndex":0,"zIndex":51,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"b2fc0431-cd01-372c-9581-7afaed9d60a6","instanceIdentifier":"71314e9d-0199-1000-2000-8811c86e68db","name":"","source":{"id":"5dd599a5-b467-38d5-b4a6-6833f46b16b8","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateAttribute","comments":"To standardise and label the data that is extracted from OCR","instanceIdentifier":"712f231e-0199-1000-9464-789051f375d5"},"destination":{"id":"90080bb0-aba6-396d-bc23-0b86a864248c","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"71312bf4-0199-1000-d166-5bb563608b82"},"labelIndex":0,"zIndex":64,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"b7b184e4-d5c7-3aaf-b5a1-ebddf3b18f4c","instanceIdentifier":"749e4036-0199-1000-c902-cad75ec4ab6a","name":"","source":{"id":"ff7801bd-7584-3ccb-a12a-d90eca8ab523","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ConvertRecord","comments":"To convert record from JSON type to CSV record type so that it can be saved in CSV format","instanceIdentifier":"749da87c-0199-1000-e1f6-84d4321685b7"},"destination":{"id":"5ab07578-339d-3904-9522-11e86f37fc23","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateAttribute","comments":"To set new filename which will be used as the output CSV's filename","instanceIdentifier":"6f8bff7e-0199-1000-e464-8315c3f2ff64"},"labelIndex":0,"zIndex":67,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"4a6a26f3-2aaf-3b91-ad4a-6ad139fd68cf","instanceIdentifier":"9428f785-0199-1000-617f-9f5454557b89","name":"","source":{"id":"e360cee9-2278-330c-b9b3-ed4368de870e","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateAttribute","comments":"To update the individual file name and file type so it can be saved correctly","instanceIdentifier":"94245f68-0199-1000-4edb-88d51953ef2e"},"destination":{"id":"e4e8b4f2-707e-316e-a043-3005a449d967","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"PutFile","comments":"To save the images to specified directory","instanceIdentifier":"9427f872-0199-1000-d150-eb62fbb10910"},"labelIndex":0,"zIndex":72,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"96050336-c001-36bc-8986-47ac11993dbb","instanceIdentifier":"6f959372-0199-1000-ca7f-4c1eac683cdc","name":"","source":{"id":"5ab07578-339d-3904-9522-11e86f37fc23","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateAttribute","comments":"To set new filename which will be used as the output CSV's filename","instanceIdentifier":"6f8bff7e-0199-1000-e464-8315c3f2ff64"},"destination":{"id":"6f94b897-0199-1000-07e6-8c1a63d98e5a","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"c473b922-c853-3c31-704c-6880c57c613d"},"labelIndex":0,"zIndex":55,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"1b73dd5e-cb69-37b9-8789-7ca9d84acd66","instanceIdentifier":"6f923a63-0199-1000-a8f7-de2ba17ff5df","name":"","source":{"id":"1cff1f50-0437-3e20-bde1-d893f94e9ef1","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ConvertRecord","comments":"To convert CSV record to JSON type","instanceIdentifier":"60dd1a6e-0199-1000-d759-3a0fb599a5f5"},"destination":{"id":"3709bdb6-ed5f-301c-8b1b-2fd251822c45","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"6f921d5b-0199-1000-5009-25fdc101bdcb"},"labelIndex":0,"zIndex":49,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"3f44accb-d3eb-3b01-8ccc-f709b9d233ca","instanceIdentifier":"71316763-0199-1000-c50b-67fedbc83d38","name":"","source":{"id":"5dd599a5-b467-38d5-b4a6-6833f46b16b8","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateAttribute","comments":"To standardise and label the data that is extracted from OCR","instanceIdentifier":"712f231e-0199-1000-9464-789051f375d5"},"destination":{"id":"4f82ab0b-9303-37da-a25d-a2069f0a70ac","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateRecord","comments":"To set attributes by renaming as the original column headers so that it can be saved as such in the CSV","instanceIdentifier":"610f78d0-0199-1000-8e3d-505a161282fa"},"labelIndex":0,"zIndex":65,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"c6116722-2a0c-3882-94b6-b624086aee4c","instanceIdentifier":"942437dd-0199-1000-1701-7406303dcf4d","name":"","source":{"id":"e22d6078-55b7-3d0d-b647-cf63c7e1ec71","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"ReplaceText","comments":"To extract the base64 data","instanceIdentifier":"94232411-0199-1000-97f8-f030475a307d"},"destination":{"id":"c8653a57-0a28-3ec1-97ba-05fffa31ee59","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"EncodeContent","comments":"To decode base64 data into PNG image","instanceIdentifier":"9423f588-0199-1000-5987-8c4fa4307459"},"labelIndex":0,"zIndex":69,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"549d0202-f6b5-3fe9-b81c-cddf1c43114a","instanceIdentifier":"6f95b5dc-0199-1000-37e6-844c07deec43","name":"","source":{"id":"c6916858-b2be-3470-b6d7-7876604336a8","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"PutFile","comments":"To save the output CSV into the specified directory","instanceIdentifier":"6f8d2216-0199-1000-877f-a76329bdbb1f"},"destination":{"id":"6f94c59f-0199-1000-be61-6d7e5a761307","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"85f5b280-5be7-38d9-ac28-fa92152d2817"},"labelIndex":0,"zIndex":56,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"1c836b69-549f-306d-b809-9b3107ded9b3","instanceIdentifier":"6f8f9ddd-0199-1000-b66e-ca66bb2382bf","name":"","source":{"id":"5ab07578-339d-3904-9522-11e86f37fc23","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"UpdateAttribute","comments":"To set new filename which will be used as the output CSV's filename","instanceIdentifier":"6f8bff7e-0199-1000-e464-8315c3f2ff64"},"destination":{"id":"c6916858-b2be-3470-b6d7-7876604336a8","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"PutFile","comments":"To save the output CSV into the specified directory","instanceIdentifier":"6f8d2216-0199-1000-877f-a76329bdbb1f"},"labelIndex":0,"zIndex":46,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"},{"identifier":"ec0fb463-056f-3f0a-a83f-de8c8f63352a","instanceIdentifier":"6fd6aea6-0199-1000-f0fd-f42637400524","name":"","source":{"id":"06f237a0-5cea-3e5d-8418-e2ff9e7e7e76","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"SplitText","comments":"To split the CSV into individual records for processing.","instanceIdentifier":"6fd5bc9f-0199-1000-59a7-60653d26f638"},"destination":{"id":"f209ab05-cbe9-34bc-b436-f035aa604cc4","type":"PROCESSOR","groupId":"216bfa7a-2443-3a0c-828d-55f157d78098","name":"LogAttribute","comments":"","instanceIdentifier":"6fd657cd-0199-1000-6d5a-f9005be197a8"},"labelIndex":0,"zIndex":61,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"ce488e06-a5a1-39dc-9266-b8924c1a6290","instanceIdentifier":"195c9229-0199-1000-208d-16d5ec0ff46e","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6f9f09a3-0199-1000-49c5-8bc3ff1e4903"},{"identifier":"b63e5073-0b19-3b94-8e27-39f91bf286f4","instanceIdentifier":"195c71a8-0199-1000-38b6-25721091fcfc","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6f9f09a3-0199-1000-49c5-8bc3ff1e4903"},{"identifier":"6b5114b5-bc61-3a7f-ac78-467126deb717","instanceIdentifier":"60b4ad88-0199-1000-9e7c-db046fb24990","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"false","CSV Format":"rfc-4180","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6f9f09a3-0199-1000-49c5-8bc3ff1e4903"},{"identifier":"26640bed-548f-3642-a4fe-1436762015e6","instanceIdentifier":"74a2c14c-0199-1000-a886-9e3132ed6083","name":"CSVRecordSetWriter (After Merge)","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"rfc-4180","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"216bfa7a-2443-3a0c-828d-55f157d78098"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}